@import "../../style/editor";
@import "../ppt/index";

.item-gallery {
  position: relative;
  //margin-top: 10PX;
  //background: #AED581;
  //padding-top: 100px;
}

.item-gallery__swiper {
  // NOTE RN 的 Swiper 需要有高度，否则会报错
  height: 320px;
  transition: height 1s ease-in-out;

  &-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &-img {
      transform: scale3d(1,1,1);
      width: 100%;
      height: auto;
      will-change: transform;
      &.active{
        transition: transform 4s linear;
        transform: scale3d(1.1,1.1,1.1);
      }
    }
  }
}

.item-gallery__indicator {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 30px;
  background: #ffffff;
  //border-radius: $border-radius;

  &-txt {
    //color: $text-color;
    font-size: 24px;
  }
}

.item-title-base {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  //margin-top: -270px;
  height:270px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
  transform: rotate(0);
  transition: all 300ms ease-in-out;
  &:active{
    height: 80px;
  }
}
.item-title-base.active{
  height: 80px;
  color:rgba(0,0,0,0)
}
.item-title-base__header {
  position: relative;
  padding: 24px 16px 16px 16px;
  //color: white;
  //display: flex;
  //flex-direction: row;
  //align-items: center;

  &-name {
    display: block;
    font-size: 36px;
    line-height: 50px;
    opacity: 1;
    //color: $black;
  }

  &-desc {
    display: block;
    padding-top: 20px;
    font-size: 28px;
    line-height: 32px;
    opacity: .6;
  }
}

.bannerDots{
  //margin-top: -20px;
  //left: 0;
  width: 100%;
  height: 20px;
  z-index: 12;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.dot_0,
.dot{
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 10px;
  background: #bbb;
}
.dot_0{
  width: 20px;
}
.dot.active{
  background: #5CD35E;
}

.dot_0.active{
  width: 20px;
  background: #5CD35E;
}
